<br>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">{{ plan.nombre }}</h2>
        </div>
        <div class="card-body">
          <div class="text-center">
            <img src="https://definicion.de/wp-content/uploads/2009/02/planificacion.png" alt="Icono del Plan" class="img-fluid" style="max-width: 200px;">
          </div>
          <p class="card-text">{{ plan.descripcion }}</p>
          <p><strong>Valor:</strong> {{ plan.valor }}</p>
          <p><strong>Código:</strong> {{ plan.codigo }}</p>
          <p><strong>Plan:</strong> {{ plan.plan }}</p>

          <h3 class="mt-4">Productos del Plan</h3>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let producto of plan.productosPlan">
              <p><strong>Producto:</strong> {{ producto.descripcion }}</p>
              <p><strong>Cantidad:</strong> {{ producto.cantidad }}</p>
            </li>
          </ul>
        </div>
        <div class="card-footer text-muted text-center">
          <a [routerLink]="['/productos']" class="btn btn-primary">Volver a otros planes</a>
        </div>
      </div>
    </div>
  </div>
</div>

