<br>
<a style="margin-left: 1em;"  [routerLink]="['/productos/planes']" class="btn btn-primary">Planes</a>
<a style="margin-left: 1em;"  class="btn btn-success" (click)="filtro()">Filtrar</a>
<div class="container">
  <br>
  <h2>Listado de Productos</h2>
  <div  *ngFor="let product of products">
    <div class="card" style="width: 18rem;">
      <img [src]="product?.imagen " alt="Imagen del Producto" width="100" class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">{{ product?.detalle }}</h5>
        <p class="card-text">{{ product?.descripcion }}</p>
        <p class="card-text">{{ product?.precio }}</p>
        <a href="productos/producto" class="btn btn-primary">Detalle</a>
      </div>
    </div>
    <br>
  </div>
</div>
