<div class="container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" formControlName="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="contrasena" formControlName="contrasena" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  </form>
</div>
